<header>
  <nav class="navigation">
    <a routerLink="/home"
    routerLinkActive="active-link">
      <span>Home</span>
    </a>
    <a>
      <form (ngSubmit)="setRoute()">
        <input type="text" [(ngModel)]="title" name="text"  placeholder="Type a title here!"/>
        <input type="submit" id="submit" value="Search..."  />
      </form>
    </a>
    <a routerLink="/popular"
    routerLinkActive="active-link">
    <span>Popular Movies</span>
  </a>
  <a routerLink="/top_rated"
  routerLinkActive="active-link">
  <span>Top rated Movies</span>
</a>
<a routerLink="/new"
routerLinkActive="active-link">
<span>New & Upcoming</span>
</a>
<a><span><app-genre-search></app-genre-search></span></a>
    <div class="isLoggedIn" *ngIf="userService.getUser()">
      <a routerLink="/profile" routerLinkActive="active-link">
        <span>Profile</span>
      </a>
      <a routerLink="/logout" routerLinkActive="active-link">
        <span>Logout</span>
      </a>
    </div>

    <div class="isNotLoggedIn" *ngIf="!userService.getUser()">
      <a routerLink="/register" routerLinkActive="active-link">
        <span>Register</span>
      </a>
      <a routerLink="/login" routerLinkActive="active-link">
        <span>Login</span>
      </a>
    </div>
  </nav>
</header>
